<!DOCTYPE html>
<html>
  <head>
    <title>Qna</title>
    <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= action_cable_meta_tag %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
    <main>
      <p class="flash"><%= render 'flash' %></p>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
